body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--background);
    gap: 20px
}
label {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}
input[type=radio] {
    height: 25px;
    width: 25px;
}
.inputLabelContainer {
    display: flex;
    align-items: center;
}
#main_h {
    color: white;
    font-weight: bold;
    text-align: center;
}
#answer {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
:root {
    --main-color: hsl(208, 100%, 50%);
    --background: #292929;
    --light-background: #454545;
}
* {
    font-family: Arial, sans-serif;
}
#submit {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: var(--main-color);
    cursor: pointer;
    border: none;
    font-size: 30px;
    width: 220px;
}
#submit:hover {
    background:  hsl(208, 100%, 60%);
}
#submit:active {
    background:  hsl(208, 100%, 70%);
}
#type_form {
    background: var(--light-background);
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    text-align: center;
}
#alert {
    color: rgb(255, 74, 74);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
